.body {
    background-color:lightskyblue
}
.body1 {
    background-color: aliceblue;
}

.bigger {
    height:340px;
    width:500px
}

.h2S {
    font-size: 40px;
}

h1,h2,p,h3{
    text-align:center;
}

h1 {
    font-family:fantasy;
    font-size: 80px;
}
img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.orange {
    color:orangered;
    font-size: 50px;
    font-style:italic
}

.size {
    height: 250px;
    width:350px;
    margin-bottom:100px;
}

.space_top {
    margin-top:100px;
    margin-bottom:100px;
    font-size: 30px;
}

.seals {
    margin-top:100px;
    color:rgb(165, 118, 0);
    font-size: 50px;
    font-family:'Times New Roman', Times, serif
}

.a {
    color: rgb(165, 118, 0);
  }
  
  .a:visited {
    color: rgb(165, 118, 0);
  }
  
  .a:hover {
    color: rgb(165, 118, 0);
  }
  
  .a:active {
    color: rgb(165, 118, 0);
  }

  .frame {
    height:800px;
    width:50px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 20px 0 gold;
    margin-left: 425px;
  }
  .frame2 {
    height:50px;
    width:1025px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 20px 0 gold;
    margin-left: 0px;
  }
  .frame3 {
    height:700px;
    width:50px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 20px 0 gold;
    margin-left: 975px;
  }
  .frame4 {
    height:50px;
    width:1025px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 20px 0 gold;

  }

  .image {
    height:800px;
    width:1025px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 50px 20px gold;
    margin-top:200px;
    margin-bottom:100px;
  }

  .imageC {
    height:800px;
    width:1025px;
    background: linear-gradient(hsl(46, 100%, 45%), hsl(49, 98%, 57%), hsl(39, 99%, 45%));
    box-shadow: 0 0 50px 20px gold;
    margin-bottom:100px;
    margin-top: 50px;
  }

  .b {
    color: rgb(0, 51, 219);
  }
  
  .b:visited {
    color: rgb(0, 51, 219);
  }
  
  .b:hover {
    color: rgb(0, 51, 219);
  }
  
  .b:active {
    color: rgb(0, 51, 219);
  }